<%= form_with(id: "employee_form",model: employee, class: "contents") do |form| %>
  <%= render "shared/errors", obj: @employee%>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div>
   <%= form.label :gender_male, "Male" %>
   <%= form.radio_button :gender, "male", id: "gender_male" %>
  </div>
  <div>
   <%= form.label :gender_female, "Female" %>
   <%= form.radio_button :gender, "female", id: "gender_female" %>
  </div>
  <div>
   <%= form.label :gender_other, "Other" %>
   <%= form.radio_button :gender, "other", id: "gender_other" %>
  </div>
  
   <div class="my-5">
    <%= form.label :salary %>
    <%= form.text_field :salary, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :company_id %>
    <%= form.collection_select :company_id, Company.all, :id, :name, class: "form-control"%>
  </div>


  <div class="my-5">
    <%= form.label :experience %>
    <%= form.number_field :experience, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
