<h1>Edit Employee</h1>
<%= render 'shared/errors', obj: @employee %>

<%= form_with(model: @employee, local: true) do |f| %>
  <p>
    <%= f.label :Name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Email %><br/>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :PhoneNumber %><br/>
    <%= f.text_field :phonenumber %>
  </p>
  <p>
    <%= f.label :Salary %><br/>
    <%= f.text_field :salary %>
  </p>
  <p>
    <%= f.label :Experience %><br/>
    <%= f.text_field :experience %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Cancel and Return to employees page', employees_path %>
