<h1>Edit Task</h1>
<% if @task.errors.any? %>
  <h2> The following reasons prevented the task to be saved </h2>
    <ul>
     <%= @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
    </ul>
<% end%>

<%= form_with(model: @task, local: true) do |f| %>
  <p>
    <%= f.label :Name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Description%><br/>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Cancel and Return to tasks page', tasks_path %>
