<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description%></td>
        <td><%= project.employee.name %></td>
        <td><%= link_to 'Show', project_path(project) %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
   <td><%= link_to 'Delete', project_path(project), data: {turbo_method: :delete, turbo_confirm: 'Are you sure want to delete?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %> |
<%= link_to 'New Task', new_task_path %> |
<%= link_to 'Add Employee', new_employee_path%>
