<div id = "newform">

<%= form_with(model: @company,  data: {remote: true}) do |f| %>
  <p>
    <%= f.label :Name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Website %><br/>
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :State %><br/>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :City %><br/>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
 </div>
