<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>
<%= render 'shared/errors', obj: @company %>
<%= render 'form' , company: @company%>

<table>
  <thead>
    <tr>
      <th>Company Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id= "companies">
	   	<%= render @company %>
  </tbody>
</table>
<p>
 <%= link_to 'New Company', new_company_path , remote: true%>
</p>
