<h1>Showing Company details</h1>
<div id="show-company">
  <p><strong>Name:</strong><%= @company.name%></p>
  <p><strong>Website:</strong><%= @company.website %></p>
  <p><strong>State:</strong><%=@company.state%></p>
  <p><strong>City:</strong><%=@company.city%></p>
   <%= link_to 'Edit', edit_company_path(@company) %> |
   <%= link_to 'Delete' , company_path(@company), remote: true, data: {turbo_method: :delete, turbo_confirm: 'Are you sure want to delete?'} %> |
   <%= link_to 'Return to company listing page', companies_path %> |
   <%= link_to "Add Employee", new_employee_path(company_id: @company.id) %> |
   <%= link_to "Employees listing page", employees_path%> |
</div>
